<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <% if (user) {%>
  <h3>Welcome back <%= user.first_name %></h3>
  <h4>Membership status: <%= (user.membership_status) ? 'Active' : 'Not Active' %></h4>
  <%}%>
  <% messages.forEach(msg => { %>
  <div style="border: 1px solid black; margin: 8px;">
    <% if (user && user.membership_status) {%>
    <b><%= msg.username %></b> at <%= msg.added %>
    <%}%>
    <h3><%= msg.title %></h3>
    <p><%= msg.text %></p>
  </div>
  <% });%>

  <!-- handle new post creation -->
  <% if (user) {%>
  <% if(user.membership_status) { %>
  <h5>Create new messages</h5>
  <form method="POST">
    <label>
      Title:
      <input type="text">
    </label>
    <textarea name="text"></textarea>
    <button type="submit">New Post</button>
  </form>
  <%} else {%>
  <a href="/membership">Enter secret key</a>
  <%}%>
  <%}%>

</body>

</html>